Package: meilix-default-theme
Source: meilix-artwork
Version: 1.0-2
Architecture: all
Maintainer: Mario Behling <mb@mariobehling.de>
Installed-Size: 1167
Section: x11
Priority: optional
Homepage: http://mbm.vn
Description: Default theme for Meilix
 Meilix default theme for the custom ISO
